body {
    background-color: #9DBEBB;
}

.main-section {
    height: 100vh;
}

.form-section {
    background-color: #BE0909;
    width: 559px;
    height: 594px;
    display: flex;
    flex-wrap: wrap;
}

.center-section {
    background-color: #FFB039;
    width: 954px;
    height: 594px;
    margin:auto;
    margin-top: 153px;
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;
    position: relative;
}

.duck {
    position: absolute;
    left: 350px;
    top: 50px;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    padding:auto;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

input {
    border: none;
    border-bottom: #FFB039 2px solid;
    background-color: #BE0909;
    margin-top: 25px;
    color: white;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: normal;
    cursor:text;
    
}

.input::placeholder, .textarea::placeholder {
	color: #ffffff;
	opacity: 0.5;
}

label {
    border: none;
    background-color: #BE0909;
    color: white;
    margin-top: 10px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: normal;
    
}

button {
    width: 202px;
    height: 48px;
    background-color: #468189;
    border-radius: 25px;
    border:none;
    margin-top: 56px;
    color: white;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 2px;
    box-shadow: 1px 1px 4px #000000;
    }

    .button:hover {
        background-color: #FFB039;
        color: rgba(70, 96, 96, 1);
    }
